.button{
    padding: 10px;
    border-radius: 10px;
    background: red;
    color: white;
    border: none;
    text-decoration: none;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.button.ghost{
    background: none;
    border: 1px solid white;
}