main{
    padding-top: 100px;
}

section{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(38, 40, 40);

    .wrapper{
        max-width: 1800px;
        height: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 21px;
        padding: 21px 36px;

        h1{
            font-family: Arial, Helvetica, sans-serif;
            color: white;
            font-weight: 600;
        }

        p{
            font-family: Arial, Helvetica, sans-serif;
            color: white;
        }

        .wrapper-buttons{
            display: flex;
            gap: 10px;

        }
    }
}

section.hero-content{
    background-color: white;
    
    .wrapper{
        h2{
            font-family: Arial, Helvetica, sans-serif;
            color: black;
            font-weight: 600;
        }
        
        p{
            font-family: Arial, Helvetica, sans-serif;
            color: black;
            line-height: 1.6;
            margin-bottom: 15px;
        }
        
        .hero-image{
            width: 100%;
            max-width: 800px;
            height: auto;
            border-radius: 10px;
        }
    }
}

section.hero-content.dark{
    background-color: rgb(38, 40, 40);
    
    .wrapper{
        h2{
            color: white;
        }
        
        p{
            color: white;
        }
    }
}