main{
    padding-top: 100px;
}

section{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(38, 40, 40);

    .wrapper{
        max-width: 1800px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 21px;
        padding: 21px 5px;

        h1{
            font-family: Arial, Helvetica, sans-serif;
            color: white;
            font-weight: 600;
        }

        p{
            font-family: Arial, Helvetica, sans-serif;
            color: white;
        }

        .wrapper-buttons{
            display: flex;
            gap: 10px;

        }
    }
}